## Airports and Cities Data

In [1]:
# Airports

import pandas as pd

airports= (
pd.read_csv('airports.csv')
    .query('type == "large_airport"')
    .filter(['name','latitude_deg','longitude_deg','iso_country','iso_region','municipality','gps_code','iata_code'])
    .rename(columns={'gps_code':'icao_code'})
    .assign(municipality_iso_country = lambda x: x['municipality'] + ',' + x['iso_country'])
)
airports.head()

,name,latitude_deg,longitude_deg,iso_country,iso_region,municipality,icao_code,iata_code,municipality_iso_country
10890,Honiara International Airport,-9.428000,160.054993,SB,SB-CT,Honiara,AGGH,HIR,"Honiara,SB"
12461,Port Moresby Jacksons International Airport,-9.443380,147.220001,PG,PG-NCD,Port Moresby,AYPY,POM,"Port Moresby,PG"
12981,Keflavik International Airport,63.985001,-22.605600,IS,IS-2,Reykjavík,BIKF,KEF,"Reykjavík,IS"
13028,Priština Adem Jashari International Airport,42.572800,21.035801,XK,XK-01,Prishtina,BKPR,PRN,"Prishtina,XK"
17254,Guodu Air Base,36.001741,117.632010,CN,CN-37,"Xintai, Tai'an",NaN,NaN,"Xintai, Tai'an,CN"

In [2]:
# Cities Data from airport Csv

cities = airports.filter(['municipality','iso_country','municipality_iso_country']).drop_duplicates()
cities.head()

         municipality iso_country municipality_iso_country
10890         Honiara          SB               Honiara,SB
12461    Port Moresby          PG          Port Moresby,PG
12981       Reykjavík          IS             Reykjavík,IS
13028       Prishtina          XK             Prishtina,XK
17254  Xintai, Tai'an          CN        Xintai, Tai'an,CN

## Update data into database

#### Establish the connection

In [3]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\atlab\anaconda3\lib\site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\atlab\anaconda3\lib\site-packages (from SQLAlchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\atlab\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

#### Update data in AWS DATABASE Instance

In [5]:
# Moving airport data to AWS Database

import sqlalchemy
import pymysql

#pd.read_csv('airports.csv', index_col = [0])
schema="gans"
host="your host name"
user="your username"
password="your password"
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

(
 airports.dropna().to_sql('airports', if_exists='append', con=con, index=False)
)

In [6]:
# Moving cities data to AWS Database

schema="gans"
host="your host name"
user="your username"
password="your password"
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

(
 cities.dropna().to_sql('cities', con=con, if_exists='append', index=False)
)